.title{
    margin-left: 3%;
    color:#0b5345;
}

.ingredients{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    color: #0b5345;
}

.p-table {
    border: 0.01rem solid #ccc;
    border-radius: 1rem;
    text-align: center; 
}

.search {
    color: #0b5345;
    display: flex;
    margin-right: 1.5%;
}

.func {
    margin: 2%;
    display: flex;
    align-items: center; }

.sort {
    display: flex;
    align-items: center;
}

.search input {
    width: 100%; 
}

.main {
    flex-grow: 1; 
    margin-right: 1.4%; 
    margin-bottom: 2%;
}

.clickable-row:hover {
    cursor: pointer;
}

.loading{
    margin: 15%;
}

h3{
    margin-left: 2%;
}

::ng-deep .p-button{
    background-color: #0b5345;
    border-color: #0b5345;
}

::ng-deep .p-card .p-card-content {
    padding: 0.5rem 0;
}

::ng-deep .p-card .p-card-body{
    padding: 0.5rem;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
    color: #0b5345;
    text-align: center;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    color: #0b5345;
    background-color: #90b3ac;
}

:host ::ng-deep .p-datatable .p-datatable-footer {
    color: #0b5345;
}

:host ::ng-deep .p-progress-spinner-circle {
    stroke: #0B5345 !important;
    background-color: #0B5345 !important;
}
