<div class="flex flex-row">
    <div class="flex flex-column ingredients gap-2" style="max-width: 20%" 
            *ngIf="ingredients">
        <p-listbox [options]="ingredients" [(ngModel)]="selectedIngredients" optionLabel="name"
            [style]="{ width: '100%', 'max-height': '320px' }" [virtualScroll]="true" 
            [filter]="true" [virtualScrollItemSize]="90" [multiple]="true" [checkbox]="true" 
            [showToggleAll]="false" [metaKeySelection]="false" (onChange)="onIngredientsChange($event)" 
            (onFilter)="onIngredientsSearch($event)" aria-describedby="filter">
        </p-listbox>
        <small id="filter">Search by name for more</small>
        <div class="flex flex-row">
            <p-button size="small" (onClick)="filterRecipes()" class="mr-2">Filter by ingredients</p-button>
            <p-button size="small" (onClick)="clearFilters()">Clear filter</p-button>
        </div>
    </div>
    <div class="flex flex-column justify-content-center main" style="max-width: 75%">
        <div class="flex flex-row align-items-center func">
            <div class="search" style="margin-left: auto;">
                <span class="flex flex-column align-items-center gap-2">
                    <input pInputText type="text" placeholder="Search recipes by name" aria-describedby="search-help"
                        [(ngModel)]="searchText" (keyup.enter)="getRecipesByName()" />
                    <small id="search-help">Enter key word and press enter</small>
                </span>
            </div>
        </div>
        <div class="table align-items-center justify-content-center align-content-center" style="flex-grow: 1;">
            <p-card *ngIf="recipes">
                <p-table [value]="recipes" [tableStyle]="{'min-width': '60rem'}" [paginator]="true"
                    [totalRecords]="recipesCount" [rows]="20" [pageLinks]="5" [showPageLinks]="true" [lazy]="true"
                    (onLazyLoad)="onPageChange($event)" (onSort)="onSort($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Author</th>
                            <th pSortableColumn="numberOfIngredients">Number of ingredients <p-sortIcon field="numberOfIngredients"></p-sortIcon></th>
                            <th pSortableColumn="skillLevel">Skill level <p-sortIcon field="numberOfIngredients"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-recipe>
                        <tr class="clickable-row" (click)="onRecipeClick(recipe)">
                            <td>{{recipe.name}}</td>
                            <td>{{recipe.author}}</td>
                            <td>{{recipe.numberOfIngredients}}</td>
                            <td>{{recipe.skillLevel}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            In total there are {{recipesCount}} recipes.
                        </div>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </div>
</div>