.card {
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 10px;
    margin: 20px;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th{
    color: #0B5345;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
    color: #0B5345;
    background-color: #90b3ac;
}
